*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  background: linear-gradient(
    to bottom,
    var(--color-primario) 0%,
    var(--color-secundario) 100%
  );
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: var(--font-base, Arial, sans-serif);
  overflow: hidden;
}

:root {
  --color-primario: #313131ef;
  --color-secundario: #9b9b9b;
  --font-base: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 80%;
  margin: 0 auto;
}

.container h1 {
  margin-bottom: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  color: white;
}

/* ================= */
/* COLUMNAS */

.columns {
  display: flex;
  width: 100%;
  height: 500px;
}

.column {
  display: flex;
  position: relative;
  flex: 1;

  align-items: flex-start;
  justify-content: center;
  overflow: hidden;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 0 5px;
  border-radius: 30px;
  cursor: pointer;

  transition: color 0.5s ease, opacity 0.5s ease, background 0.5s ease,
    flex 0.5s ease, background-color 0.5s ease;
}

.column:hover {
  flex: 2;
}

.columns:hover .column:not(:hover) {
  flex: 0.2;
  opacity: 0.4;
}

.column h1 {
  position: absolute;
  z-index: 5;

  margin: 0;
  color: white;
  text-align: center;
  padding-top: 1rem;
  font-size: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  opacity: 0;

  width: 100%;
}

.column .text {
  position: absolute;
  z-index: 5;

  bottom: 0px;
  padding: 0 10px;
  margin: 15px;

  color: white;
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.column .text,
.column h1 {
  opacity: 0;
}

@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.column:hover .text,
.column:hover h1 {
  animation: fadeInText 0.5s ease 0.5s forwards;
}

.column:not(:hover) .text,
.column:not(:hover) h1 {
  opacity: 0;
  animation: none;
}

.column .text::before {
  content: "";
  position: absolute;
  inset: -5px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  z-index: -1;
}

.column::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-image: url("assets/hide.png");
  transform: scale(0.6);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  z-index: 1;
}

/* Al hacer hover en una columna, el before desaparece */
.column:hover::before {
  opacity: 0;
}

/*Hace que todos los afters de column sean invisibles por defecto*/
/* Mas abajo a cada uno de estos afters se le asigna una imagen de fondo */
.column::after {
  opacity: 0;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.8));

  transition: opacity 0.3s ease;
}

/*Al hacer hover se muestran los afters*/
.column:hover::after {
  opacity: 0.85;
}

/* ========== */
/* COLORES */
.column.bipedo {
  background-color: #462121;
}
.column.cuadrupe {
  background-color: #243624;
}
.column.blindado {
  background-color: #313531;
}
.column.crestado {
  background-color: #4b381e;
}
.column.plumas {
  background-color: #1d3142;
}

/* Setea el after para cada columna con su respectiva imagen de fondo */
.column.bipedo::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/assets/1.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  pointer-events: none;
  z-index: 0;
}

.column.cuadrupe::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/assets/2.webp");
  transform: scale(1.1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  pointer-events: none;
  z-index: 0;
}

.column.blindado::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/assets/3.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  pointer-events: none;
  z-index: 0;
}

.column.crestado::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/assets/4.webp");
  transform: scale(0.9);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  pointer-events: none;
  z-index: 0;
}

.column.plumas::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/assets/5.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  pointer-events: none;
  z-index: 0;
}

@media (max-width: 768px) {
  html,
  body {
    overflow: auto;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    text-align: center;
    max-width: 95%;
  }

  .container h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    color: white;
  }

  .columns {
    flex-direction: column;
  }

  .column {
    flex: none; 
    margin: 10px 0;
    min-height: 300px;
  }

  .column:hover {
    flex: none;
  }

  .columns:hover .column:not(:hover) {
    flex: none;
    opacity: 1;
  }

  .column h1 {
    align-self: flex-start;
  }

  .column h1 {
    font-size: 1.5rem;
  }

  .column .text {
    font-size: 1rem;
    line-height: 1.4rem;
  }

  .column .text,
  .column h1 {
    display: none;
  }

  .column.text-visible .text,
  .column.text-visible h1 {
    display: block;
  }

  .column:hover .text,
  .column:hover h1 {
    animation: fadeInText 0.5s ease forwards;
  }
}
